<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button style="color: white;" tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="earth-sharp"></ion-icon>
      <ion-label>Gempa Terbaru</ion-label>
    </ion-tab-button>

    <ion-tab-button style="color: white;" tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="pulse-sharp"></ion-icon>
      <ion-label>Gempa 5M+</ion-label>
    </ion-tab-button>

    <ion-tab-button style="color: white;" tab="tab3" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="radio-sharp"></ion-icon>
      <ion-label>Gempa Dirasakan</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
