<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gempa 5M+
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let g of gempa">
      <ion-grid (click)="detailpage(g)">
        <ion-row>
          <ion-col size="8">
            <p>{{g.Wilayah}}</p>
          </ion-col>
          <ion-col style="margin-left: 50px;" size="2">
            <p>{{g.Magnitude}} SR</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
