<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="color: white; text-align: center;"> Gempa Dirasakan </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let g of gempa">
      <ion-grid (click)="detailpage(g)">
        <ion-row>
          <ion-col size="7">
            <ion-text>
              <p>{{g.Dirasakan}}</p>
            </ion-text>
          </ion-col>
          <ion-col size="4" style="margin-left: 20px">
            <ion-text color="primary">
              <p>{{g.Jam}}</p>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
