<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gempa Dirasakan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let g of gempa">
      <ion-grid (click)="detailpage(g)">
        <ion-row>
          <ion-col size="7">
            <p>{{g.Dirasakan}}</p>
          </ion-col>
          <ion-col size="3.5" style="margin-left: 40px; color: greenyellow;">
            <p>{{g.Jam}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
