<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">Detail Gempa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card style="margin-top: 1rem">
    <ion-card-header>
      <ion-card-title>{{gempa.Wilayah}}</ion-card-title>
      <ion-card-subtitle>{{gempa.Magnitude}} SR</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list [inset]="true">
        <ion-item>
          <ion-label
            >Waktu : {{gempa.Tanggal}}<span>
              pada jam {{gempa.Jam}}</span
            ></ion-label
          >
        </ion-item>
        <ion-item>
          <ion-label>Wilayah : {{gempa.Wilayah}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Potensi : {{gempa.Potensi}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Kedalaman : {{gempa.Kedalaman}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
